<main class="row">
    <aside>
        <span class="section-label">Find More</span>
        <a [routerLink]="['/config']" fragment="Install" (click)="goToRoute('Install')">Installing/Getting Started</a>
        <a [routerLink]="['/config']" fragment="Module" (click)="goToRoute('Module')">Add module to you NgModule</a>
        <a [routerLink]="['/config']" fragment="Prism" (click)="goToRoute('Prism')">Install and Add PrismJs</a>
        <a [routerLink]="['/config']" fragment="Templates" (click)="goToRoute('Templates')">Templates</a>
        <a [routerLink]="['/config']" fragment="Api" (click)="goToRoute('Api')">API Reference</a>
    </aside>
    <div class="col">
        <h2 id="Install">Installing / Getting started</h2>
        <p>To get started using the libirary install from npm</p>
        <pre><code>
            {{ installCmd }}
        </code></pre>
        <p>This will give you access to the module and components available in the library.</p>

        <h3 id="Module">Add module to you NgModule</h3>
        <p>After installing the library to get access to the features you need to add it to your AppModule.</p>
        <pre><code>
            {{ moduleCode }}
        </code></pre>

        <h3 id="Prism">Install and Add PrismJs</h3>
        <p>This package requires a peer dependency of prismJs this can be installed with the command:</p>
        <pre><code>
            {{ prismInstall }}
        </code></pre>

        <p>Once PrismJs is installed you need to update your projects angular.json to include one of the prism themes: </p>
        <pre><code>
            {{ prismStyles }}
        </code></pre>
        <p>NOTE: Any style can be used but we've tailed tabs content background and stuff to the tomorrow theme. Click to find more about <a href="http://prismjs.com/">PrismJs</a>.</p>

        <h2 id="Templates">Template for Title and Content areas</h2>
        <p>The inside of you app.component.html you can use the box component directve like so:</p>
        <pre><code>
            {{ boxUse }}
        </code></pre>

        <p>It is possible to setup multiple tabs by passing multiple `ngx-codetab` into a `ngx-codetab-collection` component like displayed below.</p>
        <pre><code>
            {{ templateCode }}
        </code></pre>

        <h2 id="Api">Api Reference</h2>
        <p>The general idea of the properties passed to `ngx-codebox` and `ngx-codetab` match the interface:</p>
        <pre><code>
            {{ interfaceCode }}
        </code></pre>
        <p>In the interface above the title property is optional. The reason for this is to allow for custom titles or tabs based on the components used. If no title is provided the language property is used to label the box or tab.</p>

    </div>
</main>
