.container { margin: 0 5%; }
body { font-family: sans-serif; }

$gray: #2d2d2d;

$colors: (
  "html"   #e44d26,
  "css"    #0270ba,
  "javascript" #f7df1e,
  "php"    #6082bb,
  "java"   #f89820,
  "csharp" #68217a
);

%clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}
